!!!
%html
  %head
    %title
      = options.title
      = " - #{@title}" if not @title == nil
    %link{  :rel => "stylesheet",
            :href =>"/style.css",
            :type   => "text/css",
            :media  => "screen",
            :charset => "utf-8"}
  %body
    #container
      #header
        #logo
          %a{:href => "/"}
            %img{:src => "/logo.png"}
        %h1
          %a{:href => "#{@base_url}" }
            = options.title
          - if (@path)
            &mdash;
            %a{:href => "#{@base_url}/#{@path}" }
              = " #{@title}"
    #main
      = yield
    #footer
      Content licensed under a
      %a{:rel => "license",
         :href => "http://creativecommons.org/licenses/by-nc-sa/3.0/"}
        Creative Commons Attribution-Noncommercial-Share Alike 3.0 License
      &mdash; powered by
      %a{:href => "http://github.com/berkes/autodrop"}
        Autodrop

